/* LOGIN PAGE ---------- */

.login-container {
    height: 100vh;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-rows: .5fr .5fr 1fr 1fr; 
    grid-template-areas:
    "login-logo" 
    "login-title"
    "login-form";
}

.login-logo {
    grid-area: login-logo;
    width: 100%
}

.login-title {
    grid-area: login-title;
    text-align: center;
}

.login-form {
    grid-area: login-form;
}

.form-container {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-gap: 5%;
    width: 100%;
    margin-bottom: 5%;
}

.login-button-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-gap: 5%;
    width: 100%;
}

.login-btn {
    height: fit-content;
}

.LnS-switch {
    color: #0074FD;
    border: none;
    background-color: white;
}

.LnS-switch:focus {
    outline: none;
}

.alert {
    margin-bottom: 0rem !important;
    font-size: .93rem;
}

/* MESSAGES PAGE ---------- */