/* Login Page */

.login-container {
    height: 100vh;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-rows: .5fr .5fr 1fr 1fr; 
    grid-template-areas:
    "login-logo" 
    "login-title"
    "login-form";
}

.login-logo {
    grid-area: login-logo;
    width: 100%
}

.login-title {
    grid-area: login-title;
    text-align: center;
}

/* .login-form {
    grid-area: login-form;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%
} */

/* .input-group {
    width: 100%;
    text-align: center;
    grid-area: login-form;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
} */

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    width: 100% !important;
    text-align: center;
}

.input-group {
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
}