/* Login Page */

.login-container {
    height: 100vh;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-rows: .5fr .5fr 1fr; 
    grid-template-areas:
    "login-logo" 
    "login-title"
    "login-form";
}

.login-logo {
    grid-area: login-logo;
    width: 100%
}

.login-title {
    grid-area: login-title;
    text-align: center;
}

.login-form {
    grid-area: login-form;
}

.login-input {
    text-align: center;
}